<div class="row">
	<div class="col-md-offset-2 col-md-8">
		<div class="panel panel-default">
			<div class="panel-heading center">
				<%= image_tag @pin.image.url(:medium) %>
			</div>
			<div class="panel-body">
				<p><h3><%= @pin.description %></h3></p>
				<p><strong>Created by: <%= @pin.user.name if @pin.user %></strong></p>
				<p>Tags: <%= raw @pin.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></p>

				<% if @pin.user == current_user %>
          <%= link_to edit_pin_path(@pin) do %>
            <span class="glyphicon glyphicon-edit"></span> Edit
          <% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>

<%= link_to 'Back', pins_path %>